*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./Assests//background.jpg");
    /* height: 500px;  */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}